.banner{
  display:flex;
  background-image: url(../../images/nudegold.png);
  background-repeat: no-repeat;
  background-position: 0%;
 }

 #img {
  margin: -3px 0px 0px 188px;
  width: 900px;
}

#zehnlogo {
  padding: 253px 0px 0px 78px;
  height: 120px;
  width:auto;
}


.subbanner{
  background-color: white;
  color:black;
  background-image: url(../../images/greygold.png);
  background-repeat: no-repeat;
  background-position: 3% 29%;
  background-size: 13%;
  margin: -3px 0px;
  padding: 180px 61px 100px 153px;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size:25px;
}

.subbanner p{
  text-align: justify;
  color: #3f3f44;
  font-size: 19px;
}




  color: #B49B6D;

